services:
  webapi:
    build:
      context: ./webapi
      dockerfile: Dockerfile
    container_name: portfolio-webapi
    ports:
      - 3000
    environment:
      - PORT=3000
      - NODE_ENV=development
    networks:
      - portfolio-network
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: portfolio-frontend
    ports:
      - 3000
    environment:
      - NODE_ENV=development
      - API_URL=http://localhost:80/api/
    depends_on:
      - webapi
    networks:
      - portfolio-network
    restart: unless-stopped

  nginx:
    image: nginx:1.28.0
    container_name: portfolio-nginx
    volumes: # FIXME: Docker could not detect them as files in the dev container.
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/server.crt:/.keys/server.crt:ro
      - ./nginx/server.key:/.keys/server.key:ro
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - webapi
      - frontend
      - keycloak
    networks:
      - portfolio-network
    restart: unless-stopped

  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak
    command: start --spi-theme-static-max-age=-1 --spi-theme-cache-themes=false --spi-theme--cache-templates=false --proxy-headers xforwarded --hostname=https://localhost --http-enabled=true
    environment:
      KC_DB: ${KC_DB}
      KC_DB_URL: ${KC_DB_URL}
      KC_DB_URL_DATABASE: ${POSTGRES_DB}
      KC_DB_USERNAME: ${KC_DB_USERNAME}
      KC_DB_PASSWORD: ${KC_DB_PASSWORD}
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
    volumes:
      - ./keycloak/themes:/opt/keycloak/themes
    ports:
      - 8080
    depends_on:
      keycloak-db:
        condition: service_healthy
    networks:
      - portfolio-network

  keycloak-db:
    image: postgres:17
    container_name: keycloak-db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - 5432
    volumes:
      - keycloak-db-data:/var/lib/postgresql/data
    networks:
      - portfolio-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  portfolio-network:
    driver: bridge

volumes:
  keycloak-db-data: